.task.task-card {
    padding: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    cursor: pointer;
    /*height: 96px;*/
    width: 265px;
    margin: 0px 8px 8px;
}

.task .check-box {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    border: 2px solid #b3b3b3;
    cursor: pointer;
    border-radius: 3px;
    float: left;
}

.task.task-card .task-content-set {
    padding: 12px 0;
    margin-left: 0;
}

.task .task-content-set {
    overflow: hidden;
    margin: 0 0 0 12px;
    line-height: 22px;
    cursor: pointer;
}

.task.task-card .check-box {
    margin: 14px 12px 0 14px;
}

.task .check-box .icon-tick {
    visibility: hidden;
    color: #b3b3b3;
    font-size: 13px;
    -webkit-transform: translate(2px,-1px);
    transform: translate(2px,-1px);
}

.icon {
    font-stretch: normal;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    font-family: Teambition-UI-Icons!important;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.task-content-set .tag{
    height: 20px;
    font-size:12px;
    margin: 2px 6px 0 0;
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}
.task-content-set .tag-label{   
    background-color: #03a9f4;
    margin: 0 5px 0 0;    
    width: 6px;
    height: 6px;
    border-radius: 3px;
}